{% extends "layout.html" %}

{% block content %}
{% if object %}
<h1>
    Edit
    <span class="text-primary">
        {{ object.year }}
        {{ object.club }}
        {{ object.kit_tip }}
        {{ object.player }}
        {{ object.sleeve_length }}/S
    </span>
</h1>
{% else %}
<h1>Add a Jersey</h1>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input class="btn btn-primary" type="submit" value="Submit!">
</form>

{% endblock %}