{% extends "../layout.html" %}

{% block content %}
<div class="mt-5 d-flex justify-content-center">
    <div class="col-xs-12 col-md-6 d-flex flex-column">
        {% for photo in jersey.photo_set.all %}
        <img src="{{ photo.url }}" alt="{{ jersey.player }}">
        {% empty %}
        <h3>No Photos Uploaded</h3>
        {% endfor %}
        
    </div>
    <div class="col-xs-12 col-md-6 d-flex flex-column">
        <div class="card mb-5" style="width: 18rem;">
            <div class="card-header">
                <h5>
                    {{ jersey.year }}
                    {{ jersey.club }}
                    {{ jersey.kit_type }}
                    {{ jersey.player }}
                    <span class="badge badge-secondary">
                        {{ jersey.sleeve_length }}/S
                    </span>
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Size: {{ jersey.size }}
                </li>
                <li class="list-group-item">
                    ${{ jersey.price }}
                </li>
            </ul>
            <div class="card-body">
                <a href="{% url 'jerseys_update' jersey.id %}" class="card-link btn btn-primary">
                    <i class="fas fa-edit"></i>
                    Edit
                </a>
                <a href="{% url 'jerseys_delete' jersey.id %}" class="card-link btn btn-danger">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                </a>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <div class="card-header">
                Teammates
            </div>
            <div class="list-group list-group-flush">
                {% if jersey.teammates.count %}
                {% for teammate in jersey.teammates.all %}
                    <p class="list-group-item">{{ teammate.last_name }}</p>
                {% endfor %}
                {% else %}
                    <p>No Teammates listed</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<form class="mb-5" action="{% url 'add_photo' jersey.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <label for="photo-file">Upload Images of the {{ jersey.player }} jersey</label>
    <input type="file" class="form-control-file" name="photo-file">
    <br><br>
    <input type="submit" class="btn btn-primary" value="Upload Photo">
</form>
{% endblock %}